Documents/SalesReport (1).xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns="https://icenctrial-public.sharepoint.com/Documents" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:DC="http://purl.org/dc/elements/1.1/" targetNamespace="https://icenctrial-public.sharepoint.com/Documents">
	<xs:element name="SalesReport">
		<xs:annotation>
			<xs:appinfo>
				<Metadata>
					<DC:Description>v1.0</DC:Description>
					<DC:Description>This data reports sales from VARs to IC-ENC. The data from this report is loaded into SAP</DC:Description>
					<DC:Date.created>2014-06-30</DC:Date.created>
					<DC:Creator>Pete Collins</DC:Creator>
					<DC:Contributor>Nora Clarke</DC:Contributor>
				</Metadata>
			</xs:appinfo>
		</xs:annotation>
		<!-- Complex Types -->
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReportHeader"/>
				<xs:element ref="VAR"/>
			</xs:sequence>
			<xs:attribute name="SchemaVersion" use="required" fixed="1.0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReportType"/>
				<xs:element ref="ReportPeriodStartDate"/>
				<xs:element ref="ReportPeriodEndDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VAR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VARID"/>
				<xs:element ref="ContactEmail" minOccurs="0"/>
				<xs:element ref="Distributor" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Distributor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DistributorID" minOccurs="0"/>
				<xs:element ref="DistributorName" minOccurs="0"/>
				<xs:element ref="CustomerID" minOccurs="0"/>
				<xs:element ref="CustomerName" minOccurs="0"/>
				<xs:element ref="Vessel" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Vessel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VesselID" minOccurs="0"/>
				<xs:element ref="VesselName"/>
				<xs:element ref="IMOReferenceNumber"/>
				<xs:element ref="NonIMODescription" minOccurs="0"/>
				<xs:element ref="PONumber"/>
				<xs:element ref="Subscription" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Subscription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProductID"/>
				<xs:element ref="SalesQuantity" minOccurs="0"/>
				<xs:element ref="SubscriptionType"/>
				<xs:element ref="SubscriptionStartDate"/>
				<xs:element ref="SubscriptionEndDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- String Length Types -->
	<xs:simpleType name="String10Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String20Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String100Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Simple Types -->
	<xs:simpleType name="DateType">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="EMailType">
		<xs:annotation>
			<xs:documentation>Reg Expression [A-Za-z0-9%_.-]*@[A-Za-z0-9_.-]*</xs:documentation>
		</xs:annotation>
		<xs:restriction base="String100Type">
			<xs:pattern value="[A-Za-z0-9%_.-]*@[A-Za-z0-9_.-]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IMONumberType">
		<xs:restriction base="String10Type">
			<xs:pattern value="IMO[0-9]{7}|NonIMO|NONIMO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonIMOType">
		<xs:restriction base="String20Type">
			<xs:enumeration value="SHOREBASED"/>
			<xs:enumeration value="NAVAL"/>
			<xs:enumeration value="NonIMOVessel"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubscriptionType">
		<xs:annotation>
			<xs:documentation>Matches table TVM5 in SAP</xs:documentation>
			<xs:documentation>0  = 12 Month </xs:documentation>
			<xs:documentation>1  = 6 Month </xs:documentation>
			<xs:documentation>3  = Trial 3 Month</xs:documentation>
			<xs:documentation>4  = 3 Month</xs:documentation>
			<xs:documentation>5  = Demo 12 Month</xs:documentation>
			<xs:documentation>6  = R&amp;D 12 Month</xs:documentation>
			<xs:documentation>7  = PAYS</xs:documentation>
			<xs:documentation>14 = 4 Month</xs:documentation>
			<xs:documentation>15 = 5 Month</xs:documentation>
			<xs:documentation>17 = 7 Month</xs:documentation>
			<xs:documentation>18 = 8 Month</xs:documentation>
			<xs:documentation>19 = 9 Month</xs:documentation>
			<xs:documentation>20 = 10 Month</xs:documentation>
			<xs:documentation>21 = 11 Month</xs:documentation>
			<xs:documentation>22 = Training School 3 Month</xs:documentation>
			<xs:documentation>23 = Training School 6 Month</xs:documentation>
			<xs:documentation>24 = Training School 12 Month</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReportType">
		<xs:annotation>
			<xs:documentation>1 = ENC Sale</xs:documentation>
			<xs:documentation>2 = SENC Sale</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:byte">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Simple Elements -->
	<xs:element name="SubscriptionType" type="SubscriptionType"/>
	<xs:element name="SubscriptionStartDate" type="DateType"/>
	<xs:element name="SubscriptionEndDate" type="DateType"/>
	<xs:element name="ReportType" type="ReportType"/>
	<xs:element name="ReportPeriodStartDate" type="DateType"/>
	<xs:element name="ReportPeriodEndDate" type="DateType"/>
	<xs:element name="IMOReferenceNumber" type="IMONumberType"/>
	<xs:element name="NonIMODescription" type="NonIMOType"/>
	<xs:element name="ContactEmail" type="EMailType"/>
	<xs:element name="VesselName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="VesselID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="VARID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ProductID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SalesQuantity">
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PONumber">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DistributorName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DistributorID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
</xs:schema>